body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background-color: #121212;
  color: #fff;
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

main {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #bb86fc;
}

.input {
  margin: 20px 0;
}

.input input {
  padding: 10px;
  width: 70%;
  font-size: 16px;
  background-color: #1f1f1f;
  color: #fff;
  border: 1px solid #bb86fc;
}

.input button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #bb86fc;
  color: #121212;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.input button:hover {
  background-color: #3700b3;
}

.error {
  color: #cf6679;
  margin-top: 20px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Kartice sa filmovima */
.movie {
  background: #1f1f1f; /* Tamna pozadina kartice */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 200px; /* Fiksna širina za sve kartice */
  height: 350px; /* Fiksna visina za sve kartice */
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Raspoređivanje sadržaja */
}

/* Slike */
.movie img {
  width: 100%; /* Širina slike prilagođena kartici */
  height: 250px; /* Fiksna visina slike */
  object-fit: cover; /* Prilagođava sliku unutar dimenzija */
  border-radius: 5px;
}

/* Informacije o filmu */
.movie-info {
  margin-top: 10px;
  color: #ffffff; /* Belo za tekst na kartici */
}

.movie-link {
  text-decoration: none;
  color: inherit;
}

.movie-details {
  text-align: center;
  padding: 20px;
  background-color: #121212;
  color: #fff;
}

.movie-details img {
  width: 300px;
  border-radius: 10px;
}

.movie-details h1 {
  margin-top: 20px;
  color: #bb86fc;
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #bb86fc;
  font-size: 16px;
}

.back-button:hover {
  text-decoration: underline;
  color: #3700b3;
}
.movie-details p {
  font-size: 16px;
  line-height: 1.5;
}

.movie-details strong {
  font-weight: bold;
}

.movie-details .rating-stars {
  font-size: 20px;
  color: #FFD700; /* Zlatna boja za zvezdice */
}
